# Dependencies
node_modules/

# Environment variables
.env
.env.example
.env.local
.env.*.local

# logs
.log

# System files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Builds & Dist
build/
dist/