PORT=3000
MONGO_URI=mongodb://localhost:27017/ecommerce
retryWrites=true&w=majority
JWT_ACCESS_SECRET=tu_secreto_jwt_access_temporal
JWT_REFRESH_SECRET=tu_secreto_refresh_temporal
IMAGEKIT_PUBLIC_KEY=tu_public_key
IMAGEKIT_PRIVATE_KEY=tu_private_key
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/tu_endpoint
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...